/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #462e8a;
}

::selection{
    color: #fff;
    background: linear-gradient(90deg, #4568dc, #b06ab3);
    background: linear-gradient(90deg, #4568dc, #b06ab3)
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 29px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #4568dc, #b06ab3);
    cursor: pointer;
}

.info_box{
    width: 479px;
    height: 360px;
    background: linear-gradient(90deg, #4568dc, #b06ab3);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #ffffff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #516395;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 578px;
    height: 556px;
    background: linear-gradient(90deg, #614385, #516395);
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: linear-gradient(90deg, #614385, #516395);
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #ffffff;
    background: linear-gradient(90deg, #614385, #516395);
    border: 1px solid #516395;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #516395;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #f3eeee;
    border: 1px solid #516395;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

section{
    padding: 25px 30px 20px 30px;
    background: linear-gradient(90deg, #614385, #516395);
}

section .que_text{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    padding: 20px 0px;
    display: block;   
}

section .option_list .option{
    background: aliceblue;
    border: 1px solid #614385;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #ffffff;
    background: linear-gradient(90deg, #614385, #516395);
    border: 1px solid #3594fa;
}

section .option_list .option.correct{
    color: #00ff3c;
    background: linear-gradient(90deg, #614385, #516395);
    border: 1px solid #0bfa43;
}

section .option_list .option.incorrect{
    color: #ff0000;
    background: linear-gradient(90deg, #614385, #516395);
    border: 1px solid #ff0821;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #00ff3c;
    border-color: #24ff57;
    background: linear-gradient(90deg, #614385, #516395);
}

.option_list .option .icon.cross{
    color: #fc3044;
    background: linear-gradient(90deg, #614385, #516395);
    border-color: #ff394d;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(90deg, #614385, #516395);
    border: 1px solid #ffffff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: linear-gradient(180deg, #664b86, #526cb4);;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: linear-gradient(90deg, #614385, #516395);
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #ffee05;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: linear-gradient(90deg, #614385, #516395);
}

.buttons button.restart:hover{
    background: linear-gradient(180deg, #614385, #516395);
}

.buttons button.quit{
    color: #ffffff;
    background: #2950bd;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}

@media only screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }
    
    .start_btn button {
        font-size: 15px;
    }

    .info_box {
        width: 320px;
        height: 300px;
    }
    
    .info_box .info-title {
        height: 40px;
        width: 100%;
        font-size: 14px;
        text-align: left;
        font-weight: 600;
        padding: 0 30px;
    }

    .info_box .info-list {
        padding: 5px 30px;
    }

    .info_box .info-list .info {
        margin: 5px 0;
        font-size: 12px;
    }

    .info_box .buttons {
        height: 30px;
        padding: 0 60px;
        margin-top: 20px;
    }

    .info_box .buttons button {
        margin: 0 5px;
        height: 30px;
        width: 80px;
        font-size: 12px;
        font-weight: 500;
    }

    .quiz_box{
        width: 290px;
        height: 450px;
    }

    .quiz_box header {
        height: 60px;
    }

    .quiz_box header .title {
        font-size: 13px;
        font-weight: 600;
    }

    .quiz_box header .timer {
        color: #ffffff;
        height: 40px;
        padding: 0 8px;
        width: 150px;
    }

    .quiz_box header .timer .time_left_txt {
        font-weight: 400;
        font-size: 14px;
        user-select: none;
    }

    .quiz_box header .timer .timer_sec {
        font-size: 15px;
        height: 28px;
        font-weight: 600;
        width: 40px;
    }

    section .que_text {
        font-size: 14px;
        font-weight: 600;
    }

    section .option_list {
        padding: 20px 0px;
        display: block;
    }

    section .option_list .option {
        background: aliceblue;
        border: 1px solid #614385;
        border-radius: 5px;
        padding: 4px 10px;
        font-size: 14px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .total_que span {
        font-size: 14px;
    }

    footer button {
        height: 30px;
        padding: 0 5px;
        font-size: 13px;
        font-weight: 400;
    }

    .result_box {
        width: 290px;
        height: 200px;
        padding: 18px 15px;
    }

    .result_box .icon {
        font-size: 32px;
        color: #ffee05;
        margin-bottom: 10px;
    }

    .result_box .complete_text {
        font-size: 15px;
        font-weight: 500;
    }

    .result_box .score_text span{
        display: flex;
        margin: 10px 0;
        font-size: 13px;
        font-weight: 500;
    }

    .result_box .buttons {
        display: flex;
        margin: 15px 0;
    }

    .result_box .buttons button {
        margin: 0 10px;
        height: 30px;
        padding: 0 11px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        max-width: 767px;
    }
    
    .start_btn button {
        font-size: 25px;
    }

    .info_box {
        width: 585px;
        height: 400px;
    }
    
    .info_box .info-title {
        height: 40px;
        width: 100%;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        padding: 30px 30px;
    }

    .info_box .info-list {
        padding: 10px 30px;
    }

    .info_box .info-list .info {
        margin: 5px 0;
        font-size: 20px;
    }

    .info_box .buttons {
        height: 68px;
        padding: 0px 168px;
        margin-top: 37px;
    }

    .info_box .buttons button {
        margin: 0 5px;
        height: 40px;
        width: 115px;
        font-size: 15px;
        font-weight: 500;
    }

    .quiz_box{
        width: 575px;
        height: 430px;
    }

    .quiz_box header {
        height: 60px;
    }

    .quiz_box header .title {
        font-size: 24px;
        font-weight: 600;
    }

    .quiz_box header .timer {
        color: #ffffff;
        height: 45px;
        padding: 0 5px;
        width: 150px;
    }

    .quiz_box header .timer .time_left_txt {
        font-weight: 400;
        font-size: 17px;
        user-select: none;
    }

    .quiz_box header .timer .timer_sec {
        font-size: 20px;
        height: 36px;
        padding-top: 3px;
        font-weight: 600;
        width: 40px;
    }

    section .que_text {
        font-size: 16px;
        font-weight: 500;
    }

    section .option_list {
        padding: 20px 0px;
        display: block;
    }

    section .option_list .option {
        background: aliceblue;
        border: 1px solid #614385;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .total_que span {
        font-size: 16px;
        vertical-align: middle;
        margin-top: 10px;
    }

    footer button {
        height: 40px;
        vertical-align: middle;
        padding: 0 5px;
        font-size: 15px;
        font-weight: 400;
    }

    .result_box {
        width: 290px;
        height: 200px;
        padding: 18px 15px;
    }

    .result_box .icon {
        font-size: 32px;
        color: #ffee05;
        margin-bottom: 10px;
    }

    .result_box .complete_text {
        font-size: 15px;
        font-weight: 500;
    }

    .result_box .score_text span{
        display: flex;
        margin: 10px 0;
        font-size: 13px;
        font-weight: 500;
    }

    .result_box .buttons {
        display: flex;
        margin: 15px 0;
    }

    .result_box .buttons button {
        margin: 0 10px;
        height: 30px;
        padding: 0 11px;
        font-size: 12px;
        font-weight: 500;
    }
}